<div class="mainView row-fluid">
  <div class="span7"><img src="images/{{id}}/portrait.jpg" alt="{{data.text}}"></div>
  <div class="span5 description">
  		<div class="name">{{data.text}}</div>
  		<div class="story">{{t data.text}}</div>
  		<div class="video">
  			<video id="example_video_1" class="video-js vjs-default-skin"
			  controls preload="auto"
			  poster="{{data.video.poster}}">
			 <source src="videos/{{id}}/clip.mp4" type='video/mp4' />
			 <source src="videos/{{id}}/clip.webm" type='video/webm' />
			 <source src="videos/{{id}}/clip.ogg" type='video/ogg' />
			</video>
  		</div>
  </div>
</div>