$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

      /* Body and structure
      -------------------------------------------------- */

      body {
        position: relative;
        background-image: url('../images/background.jpg');
        background-repeat: no-repeat;
        height: 100%;
      }

      div.mainView {
        position: absolute;
        left: 50%;
        top: 4em;
        width: 35em;
        height: 20em;
        z-index: 3;
        overflow:hidden;
        -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out;
        -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out;
        -o-transition:width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out;
        transition:width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out;
      }

      div.mainView.enlarged{
        width: 63em;
        height: 36em;
        margin-top: -2em;
        margin-left: -25em;
      }

      .mainView .description{
        height: 100%;
      }

      .mainView .name{
        background-color: rgba(0, 0, 0, 0.4);
        height: 10%;
        color: #fff;
        padding: 0.4em;
        margin-bottom: 1%;
      }

      .mainView .story{
        background-color: rgba(0, 0, 0, 0.4);
        color: #330;
        height: 43%; 
        margin-bottom: 1%;
      }

      .mainView .tags{
        background-color: rgba(0, 0, 0, 0.4);
        height: 10%;
        margin-bottom: 1%;
        overflow: hidden;
      }

      .mainView .video{
        height: 34%;
      }


      #map { 
        height: 600px; 
        width: 100%;
        position: absolute;
        z-index: 1;
      }

      * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      }

      .masonry {
        max-width: 70%;
        position: relative;
        top: 4em;
      }

      .item {
        width:  3em;
        height: 3em;
        float: left;
        margin-bottom: 0.7em;
        overflow: hidden;
        opacity: 0.6;
        z-index: 2;
      }

      .item.w2 { 
        width:  6em; 
      }
      .item.w3 { 
        width:  9em; 
      }
      .item.w4 { 
        width:  12em; 
      }
      .item.h2 { 
        height: 6em; 
      }
      .item.h3 { 
        height: 9em; 
      }
      .item.h4 { 
        height: 12em; 
      }

      /* position stamp elements with CSS */
      .stamp {
        position: absolute;
      }
      .stamp1 {
        left: 0%;
        top: 0px;
        width: 6em;
        height: 6em;
      }
      .stamp2 {
        left: 0%;
        top: 0px;
        width: 12em;
        height: 1.5em;
      }
      .stamp3 {
        left: 65%;
        top: 0px;
        width: 12em;
        height: 12em;
        margin-bottom: 0.5em;
      }
      .leaflet-container {
        background: none;
      }


      /* Tweak navbar brand link to be super sleek
      -------------------------------------------------- */

      body .navbar {
        font-size: 13px;
      }

      /* Change the docs' brand */
      body .navbar .brand {
        font-weight: bold;
        color: #000;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
        -webkit-transition: all .2s linear;
           -moz-transition: all .2s linear;
                transition: all .2s linear;
      }
      body .navbar .brand:hover {
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
      }



           /* Footer
      -------------------------------------------------- */

      .footer {
        text-align: center;
        padding: 30px 0;
        margin-top: 70px;
        border-top: 1px solid #e5e5e5;
        background-color: #f5f5f5;
      }
      .footer p {
        margin-bottom: 0;
        color: #777;
      }
      .footer-links {
        margin: 10px 0;
      }
      .footer-links li {
        display: inline;
        padding: 0 2px;
      }
      .footer-links li:first-child {
        padding-left: 0;
      }



      /* Special grid styles
      -------------------------------------------------- */

      .show-grid {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .show-grid [class*="span"] {
        background-color: #eee;
        text-align: center;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
        min-height: 40px;
        line-height: 40px;
      }
      .show-grid [class*="span"]:hover {
        background-color: #ddd;
      }
      .show-grid .show-grid {
        margin-top: 0;
        margin-bottom: 0;
      }
      .show-grid .show-grid [class*="span"] {
        margin-top: 5px;
      }
      .show-grid [class*="span"] [class*="span"] {
        background-color: #ccc;
      }
      .show-grid [class*="span"] [class*="span"] [class*="span"] {
        background-color: #999;
      }

      
      
      
