$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

      /* Body and structure
      -------------------------------------------------- */

      body {
        position: relative;
        background-color: #000;
        background-image: url('../images/background.jpg');
        background-repeat: no-repeat;
        height: 100%;
        max-width: 1024px;
      }

      div.mainView {
        position: absolute;
        cursor: pointer;
        overflow:hidden;
        right: 0%;
        width: 35em;
        height: 20em;
        z-index: 3;
        -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out;
        -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out;
        -o-transition:width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out;
        transition:width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out;
      }

      div.mainView.enlarged{
        width: 63em;
        height: 36em;
        margin-top: -2em;
        margin-right: -8em;
      }

      .mainView .description{
        height: 100%;
      }

      .mainView .textField{
        overflow:hidden;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.2em;
      }

      .mainView .name{
        height: 10%;
        color: #fff;
        margin-bottom: 1%;
      }

      .mainView .story{
        color: #880;
        height: 43%;
        margin-bottom: 1%;
      }

      .mainView .tags{
        color: #880;
        height: 10%;
        margin-bottom: 1%;
      }

      .mainView .video{
        height: 34%;
        overflow:hidden;
      }

      p.tag{
        position: absolute;
        color: #880;
        font-weight:bold;
      }

      div.lngView {
        position: absolute;
        top: 10%;
        left: 10%;
        color: #fff;
        cursor: pointer;
        font-weight:bold;
        z-index: 3;
      }

      div.introView {
        position: absolute;
        top: 10em;
        color: #fff;
        left: 15em;
        width: 45em;
        z-index: 3;
        -webkit-transition:all 300ms ease-in-out;
        -moz-transition:all 300ms ease-in-out;
        -o-transition:all 300ms ease-in-out;
        transition:all 300ms ease-in-out;
      }

      div.introView.small {
        transform:translate(40em,25em);
        -moz-transform:translate(40em,25em);
        -webkit-transform:translate(40em,25em);
        -o-transform:translate(40em,25em);
        width: 15em;
        z-index: 0;
      }


      #map { 
        height: 639px; 
        width: 100%;
        position: absolute;
        z-index: 1;
      }

      * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      }

      .masonry {
        max-width: 56em;
        position: relative;
        top: 6em;
        left: 3em;
      }

      .item {
        cursor: pointer;
        width:  3em;
        height: 3em;
        float: left;
        margin-bottom: 0.7em;
        overflow: hidden;
        opacity: 0.6;
        z-index: 2;
      }

      .item.w2 { 
        width:  6em; 
      }
      .item.w3 { 
        width:  9em; 
      }
      .item.w4 { 
        width:  12em; 
      }
      .item.h2 { 
        height: 6em; 
      }
      .item.h3 { 
        height: 9em; 
      }
      .item.h4 { 
        height: 12em; 
      }

      /* position stamp elements with CSS */
      .stamp {
        position: absolute;
      }
      .stamp1 {
        left: 0%;
        top: 0px;
        width: 6em;
        height: 6em;
      }
      .stamp2 {
        left: 0%;
        top: 0px;
        width: 14em;
        height: 1.5em;
      }
      .stamp4 {
        left: 0%;
        top: 0px;
        width: 1.5em;
        height: 16em;
      }
      .stamp5 {
        right: 0%;
        top: 20em;
        width: 8em;
        height: 8em;
      }
      .stamp3 {
        right: 0%;
        top: 0px;
        width: 35em;
        height: 20em;
        margin-bottom: 0.5em;
      }
      .leaflet-container {
        background: none;
      }

      .leaflet-tile {
        cursor: default;
      }

      .row-fluid [class*="span"] {
        margin-left: 0.5%;
      }

      /* Tweak navbar brand link to be super sleek
      -------------------------------------------------- */

      body .navbar {
        font-size: 13px;
      }

      /* Change the docs' brand */
      body .navbar .brand {
        font-weight: bold;
        color: #000;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
        -webkit-transition: all .2s linear;
           -moz-transition: all .2s linear;
                transition: all .2s linear;
      }
      body .navbar .brand:hover {
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
      }



           /* Footer
      -------------------------------------------------- */

      .footer {
        text-align: center;
        padding: 30px 0;
        margin-top: 70px;
        border-top: 1px solid #e5e5e5;
        background-color: #f5f5f5;
      }
      .footer p {
        margin-bottom: 0;
        color: #777;
      }
      .footer-links {
        margin: 10px 0;
      }
      .footer-links li {
        display: inline;
        padding: 0 2px;
      }
      .footer-links li:first-child {
        padding-left: 0;
      }



      /* Special grid styles
      -------------------------------------------------- */

      .show-grid {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .show-grid [class*="span"] {
        background-color: #eee;
        text-align: center;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
        min-height: 40px;
        line-height: 40px;
      }
      .show-grid [class*="span"]:hover {
        background-color: #ddd;
      }
      .show-grid .show-grid {
        margin-top: 0;
        margin-bottom: 0;
      }
      .show-grid .show-grid [class*="span"] {
        margin-top: 5px;
      }
      .show-grid [class*="span"] [class*="span"] {
        background-color: #ccc;
      }
      .show-grid [class*="span"] [class*="span"] [class*="span"] {
        background-color: #999;
      }

      
      
      
