node_modules
dist
.tmp
.sass-cache
app/components
*.mp4
**/background.jpg
**/poster.png
*.webm
app/images/**/*.png
app/images/**/*.jpg

app/audio/intro.wav

app/images/human-nature-web-logo.svg

app/images/node00/portrait.jpg
